body {
    background: #222222;
    font-family: "Inter", sans-serif;
}
header {
    margin-top: 44px;
}
.header_block {
    max-width: 1442px;
    height: 132px;
    background: #777777;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin: 0 auto;
    max-width: 95%;
}
.header_block-title {
    color: #fff;
    font-size: 96px;
}
.response_block {
    width: 466px;
    min-height: 611px;
    background: #D9D9D9;
    border-radius: 15px;
}

p.response_block-text {
    padding: 27px;
    font-size: 24px;
}
section.response {
    margin-top: 105px;
    display: flex;
    justify-content: center;
    grid-gap: 34px;
}
form.basket_form {
    width: 696px;
    min-height: 230px;
    background: #D9D9D9;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
::placeholder {
    color: #fff;
  }
section.basket {
    margin-top: 243px;
}
h2.basket_form-title {
    font-size: 36px;
}
.basket_form-good {
    display: flex;
    font-size: 24px;
    justify-content: flex-start;
}

.count {
    margin-left: 155px;
}

.price {
    margin-left: 50px;
}

input.phone {
    width: 401px;
    height: 64px;
    border-radius: 15px;
    background: #222222;
    color: #fff;
    font-size: 36px;
    padding-left: 20px;
}

button.send {
    width: 268px;
    height: 68px;
    border-radius: 15px;
    background: #222222;
    color: #fff;
    font-size: 36px;
}

.basket_form-phone {
    display: flex;
    justify-content: space-between;
}
.container-form {
    margin: 0 auto;
    max-width: 696px;
}
section.goods {
    margin-top: 47px;
    margin-bottom: 388px;
}
.goods_block {
    width: 291px;
    height: 812px;
    background: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.goods_block-img {
    width: 281px;
    height: 366px;
    border-radius: 15px;
}

h3.goods_block-title {
    text-align: center;
}

p.goods_block-text {
    font-size: 24px;
}

button.goods_block-btn {
    width: 281px;
    height: 68px;
    border-radius: 15px;
    background: #222;
    color: #fff;
    font-size: 36px;
}

.cont {
    width: 128px;
    height: 68px;
    border-radius: 15px;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minus, .plus {
    width: 68px;
    height: 68px;
    background: #222;
    color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.goods_block-count {
    display: flex;
    justify-content: space-between;
    display: none;
}
p.goods_block-price {
    text-align: center;
    margin-bottom: 40px;
}
.container_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 973px;
    margin: 0 auto;
    grid-gap: 20px;
}

@media (max-width: 480px) {
    header {
        margin-top: 13px;
    }
    .header_block {
        height: 108px;
    }
    .header_block-title {
        font-size: 40px;
        text-align: center;
    }
    section.response {
        flex-direction: column;
    }
    .container_block {
        flex-direction: column;
    }
    .response_block {
        min-width: 332px;
        min-height: 611px;
    }
    section.basket {
        margin-top: 164px;
    }
    form.basket_form {
        width: 320px;
        min-height: 401px;
      }
      h2.basket_form-title {
        text-align: center;
      }
      .count {
        margin-left: 120px;
      }
      .basket_form-phone {
        flex-direction: column;
        grid-gap: 10px;
    }
    .container-form {
        max-width: 95%;
      }
      button.send {
        width: 320px;
      }
      input.phone {
        width: 295px;
      }
      .goods_block {
        width: 323px;
        height: 703px;
      }
      .container_block {
        width: 95%;
      }
      img.goods_block-img {
        width: 100%;
      }
      button.goods_block-btn {
        width: 100%;
      }
 }
